

#color {
    color:red;
}
#colordiff{
    color: blue;
}

.purpule {
    color: purple;
}

.aqua {
    color: aqua;

}

#4{
    color: red;
}

.shadow {
    text-shadow: red 0 -26px;
}



/* komentář


*/